@import "../../assets/Variables.scss";

.primary-button {
    @include button-variants($primary-color, #bf4800, #ff6000, #ff6000);
}

.variant-button {
    @include button-variants($variant-color, #ffbf99, #ffefe5, #ffefe5);
}

.secondary-button {
    @include button-variants($seconary-color, #5365bf, #6b83fa, #6b83fa);
}

.bordered-primary-button {
    @include button-variants($bordered-primary-color, #ffefe5, #ffefe5, #f5f5f5);
}

.bordered-default-button {
    @include button-variants($transparent, #dadada, #ffefe5, #dadada);
}

.ghost-primary-button {
    @include button-variants($transparent, rgba(255, 255, 255, 0.01), #f5f5f5, #f5f5f5);
}

.ghost-default-button {
    @include button-variants($transparent, #f0f0f0, rgba(255, 255, 255, 0.01), $transparent);
}

.success-button {
    @include button-variants($success-color, #006907, #008a09, #008a09);
}

.danger-button {
    @include button-variants($danger-color, #bf0000, #fa0000, #fa0000);
}
.app-button {
    transition: all 0.3s ease;
    border: 0;

    justify-content: center;
    align-items: center;
    padding: 0px;

    border-radius: 8px;

    width: 58px;

    display: flex;

    &__title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        text-align: center;
        letter-spacing: -0.025em;
        padding: 12px 16px;

        color: #ffffff;
    }
}
