@import "../../assets/Variables.scss";

.buttons-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 85px;
}

// .settings-icon {
//     margin-left: 10px;
// }
