@import "../../assets/Variables.scss";

.buttons-page-container {
    margin: 20px;
    
    &__buttons-container {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 85px;
    }
}
