// Colors
$primary-color: #ff6000;
$variant-color: #ffefe5;
$seconary-color: #6b83fa;
$bordered-primary-color: #ffefe5;
$bordered-color: #f5f5f5;
$solid-default-color: #f0f0f0;
$ghost-primary-color: #f5f5f5;

$success-color: #008a09;
$danger-color: #fa0000;

$transparent: transparent;

// Gutter
$small-margin: 7px;
$medium-margin: 17px;
$large-maring: 37px;

// Mixins
@mixin button-variants($enable: null, $hover: null, $focus: null, $disabled: null) {
    &:enabled {
        background: $enable;
    }
    &:hover {
        background: $hover;
    }
    &:focus {
        background: $focus;
    }
    &:disabled {
        background: $disabled;
    }
}
